<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="w-100">
    <h2 class="mb-5">Experience</h2>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0"> Developer</h3>
        <div class="subheading mb-3">TM Group</div>
        <p>
          TM Group is a leading technology provider to the Conveyancers and Eastate Agent in United Kingdom. Their major product called <b>TM Connect</b> is enabling their customers to manage their real eastate cases and make searches like coal, water, railways searches seamlessly.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">October 2018 – May 2019</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">Lead Developer</h3>
        <div class="subheading mb-3">Fristbyte Digital Solutions</div>
        <p>
          It was a startup company and I was responsible for leading a team of 4 developers. I got the responsibility to convert the idea into real world application. We built one mobile application (react native), web application (angular) and web api (.Net). I was managing the team and we followed agile methodology for development with one week sprint.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">October 2017 – July 2018</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0"> Software Engineer</h3>
        <div class="subheading mb-3"> Vofox Solutions </div>
        <p>
          This company was providing technology as service and I got the chance to work in multiple projects for their clients.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary"> September 2015 – August 2017</span>
      </div>
    </div>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="mb-0"> Software Engineer </h3>
        <div class="subheading mb-3">Adroitminds Software Labs</div>
        <p>
          It was also another startup and providing technology as service. I started my professional career at Adroitminds and got good expossure to work in Asp.Net MVC and Javascript.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">July 2014- August 2015</span>
      </div>
    </div>
  </div>
</section>
