<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
  <div class="w-100">
    <h2 class="mb-5">Projects &amp; Done</h2>
    <ul class="fa-ul mb-0">
      <li>
        <a href="https://yolofashionistas.com" target="_blank">YOLO fashionistas (Angular &amp; .Net)</a>
      </li>
      <li>
        <a href="https://itunes.apple.com/us/app/yolo-fashionistas/id1436499838?mt=8" target="_blank">YOLO fashionistas Mobile App (React Native &amp; .Net)</a>
      </li>
      <li>
        <a href="https://github.com/abhilashpullelil/microservice-demo" target="_blank">Demo microservice (Angular &amp; .Net Core 2)</a>
      </li>
      <li>
        <a href="https://github.com/abhilashpullelil/angular8" target="_blank">This project (Angular 8)</a>
      </li>
    </ul>
  </div>
</section>
